{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>SwiftCare Clinic</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/49ddd94397.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <link href="{% static 'css/ssst.css' %}" rel="stylesheet" />
    <link href="{% static 'css/scroll.css' %}" rel="stylesheet" />
    <style>
        body {
            background: url('https://images.unsplash.com/photo-1576091160550-2173dba999ef?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        }
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .bdy {
            min-height: 100vh;
            min-width: 100%;
        }

        input {
            border: none;
            outline: none;
            background-color: transparent;
            border-bottom: 1px solid #ccc;
            transition: border-bottom-color 0.3s ease;
            padding: 8px;
        }

        input:focus {
            border-bottom-color: #007bff;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="bdy p-3" id="pdfdiv" style="background-color: white;">
            <div id="pdf">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ms-3 mt-3">
                            <h4 class="font-weight-bold">SwiftCare Clinic</h4>
                            <h6 class="font-weight-bold">123 Velocity Avenue
                                Rapid Recovery City, HC 54321
                                United Health Nations</h6>
                            <h6 class="font-weight-bold">+1 (555) SWIFT-CR</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="me-3 mt-3 text-end">
                            <h5 class="font-weight-bold">{{doctor.user.first_name}}</h5>
                            <h6 class="font-weight-bold">{{doctor.section}}</h6>
                            <h6 class="font-weight-bold mt-4">{{date}}</h6>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="ms-4 d-flex">
                            <div class="me-1">
                                <p class=""><strong>Name :</strong>{{patient.user.first_name}}</p>
                                <p class=""><strong>Age :</strong>{{patient.con_id.age}}</p>
                            </div>
                            <div class="ms-1">
                                <p class=""><strong>Sex :</strong>{{patient.con_id.sex}}</p>
                                <p class=""><strong>Phone Number :</strong>{{patient.con_id.phno}}</p>
                            </div>
                    </div>
                    <hr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-4">
                                <div class="ms-3 mt-3">
                                    <h6>Symptoms</h6>
                                    <textarea name="symptoms" class="form-control" id="symptoms" rows="8">
                                            </textarea>
                                </div>
                                <div class="ms-3 mt-3">
                                    <h6>Tests</h6>
                                    <textarea name="tests" id="" class="form-control" rows="8">
                                            </textarea>
                                </div>
    
                            </div>
                            <div class="col-8">
                                <div class="ms-3 mt-5">
                                    <table class="table table-striped">
                                        <tr>
                                            <th class="col">Tablet</th>
                                            <th class="col">Routine</th>
                                            <th class="col">Days</th>
                                            <th id="addcl" class="col">Add</th>
                                        </tr>
                                        <tbody id="t_value">
    
                                        </tbody>
                                        <tr id="uploadbd">
                                            <td>
                                                <input id="medicine" class="form-control" style="width: 200px;" type="text">
                                            </td>
                                            <td>
                                                <input id="routine" class="form-control" style="width: 75px;" type="text">
                                            </td>
                                            <td>
                                                <input id="days" class="form-control" style="width: 50px;" type="text">
                                            </td>
                                            <td id="addrw">
                                                <a class="btn btn-primary btn-sm" id="add" onclick="addData()">Add</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8"></div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-xl mb-5 text-end" id="upp"
                    onclick="saveData()">save</button>
            </div>
        </div>
        </form>
    </div>
</body>
<script>
    let slnbr = 1
    function addData() {
        var medicine = document.getElementById("medicine").value;
        var routine = document.getElementById("routine").value;
        var days = document.getElementById("days").value;
        let rowId = "row" + String(slnbr)
        let delid = "a" + rowId
        result =
            `<tr id=${rowId}>
                <td><input type="text" name="medicine" value="${medicine}" readonly></td>
                <td><input type="text" name="routine" value="${routine}" readonly></td>
                <td><input type="text" name="days" value="${days}" readonly></td>
                <td id="${delid}"><a class="btn btn-primary btn-sm text-end" id="" onclick="removeData('${rowId}')">Delete</a>
                </td>
            </tr>`;
        document.getElementById("t_value").innerHTML += result;
        slnbr++
        let cnt = slnbr
    }
    function removeData(rowId) {
        var rowToRemove = document.getElementById(rowId);
        if (rowToRemove) {
            rowToRemove.remove()
        }
    }
    function saveData() {
        document.getElementById("addcl").style = "display:none"
        document.getElementById("addrw").style = "display:none"
        document.getElementById("uploadbd").style = "display:none"
        for (let i = 1; i <= 100; i++) {
            delid = "arow" + String(i)
            document.getElementById(delid).style = "display:none"
        }

    }
</script>
<!-- pdf -->
<!-- html2pdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js"></script>

<!-- html2canvas -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

<!-- jsPDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>


<!-- endpdf -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>